button{
  background-color: $primary-color;
  border-color: $primary-color;
  border-style: solid;
  border-radius: 20px;
  color: white;
  padding: 10px 30px;
  display: inline-block;
  font-weight: bold;
}
button:hover {
  background-color: lighten($primary-color, 10%);
}


@media screen and (min-width: 768px) {
  button{
    font-size: 18px;
    padding: 15px 40px;
    border-radius: 40px;
  }
}